* {
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'SansSerit';
}

.nav-container {
    background-color: #38AF90;
    height: 90px;
    width: 100%;
    padding: 10px;
    margin-bottom: 26px;
    box-shadow: 0px 5px 5px gray;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-main li a {
    color: white;
    font-size: 14px;
}

.nav-main img {
    width: 62px;
    height: 62px;
    margin: 4px 0;
}

.nav-brand {
    margin-right: auto;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.menu-items {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    margin: 14.5px;
}

.container-news {
    padding: 14px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.container-news h2 {
    font-size: 24px;
    font-weight: 700px;
    margin: 0px 0px 8px 0px;
    color: #797979;
}

.card-news-description {
    padding: 16px 12px;
    background-color: #F0F0F0;
    border-radius: 8px;
    box-shadow: 0px 5px 5px gray;
}

.card-news-description h3 {
    font-size: 16px;
    color: #38AF90;
    font-weight: 700;
    margin: 0px;
}

.card-news-description h4 {
    font-size: 12px;
    color: #797979;
    font-weight: 700;
    border-bottom: 1px solid #38AF90;
    margin: 0px;
}

.card-news-description h5 {
    font-size: 10px;
    margin: 0px;
    color: #38AF90;
    font-weight: 400;
}

.card-news-description p {
    font-size: 10px;
    color: #797979;
    font-weight: 400;
    margin: 12px 0px;
}

.card-news-description h6 {
    font-size: 14px;
    margin: 0px;
    color: #DD7E92;
    font-weight: 700;
    cursor: pointer;
}

.button-news {
    background-color: #DD7E92;
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 244px;
    height: 67px;
    margin: 28px 38px 40px 38px;
    cursor: pointer;
    border-radius: 8px;
    border: #DD7E92;
}

#games {
    background-color: #F0F0F0;
    padding: 40px 0px;
}

.title-games {
    margin: 0px 0px 14px 0px;
    color: #38AF90;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.games-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px 0px;
}

.game-item {
    width: calc(100% - 30px);
    height: 168px;
    border-radius: 8px 8px 0px 0px;
    margin: 0px 15px;
}

.card-games-description {
    border-radius: 0px 0px 8px 8px;
    width: calc(100% - 30px);
    height: 158px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 8px gray;
}

.card-games-description h4 {
    margin: 0px;
    margin-top: 28px;
    color: #797979;
    font-size: 18px;
    font-weight: 700;
}

.card-games-description p {
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #38AF90;
}

.card-games-description h2 {
    margin: 15px 0px;
    color: #38AF90;
    font-size: 36px;
    font-weight: 700;
}

#register {
    background-color: white;
    margin: 40px 8px;
}

.title-register {
    margin: 0px 0px 16px 0px;
    color: #797979;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.form-container {
    width: calc(100% + 16px);
    max-width: 790px;
    margin: 0 auto;
    background-color: #F0F0F0;
    padding: 0px 0px 23px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0px 5px 8px gray;
}

.register-name {
    margin: 52px 0px 20px 0px;
}

#ctrl-name {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    color: #C4C4C4;
    padding: 13px 128px 13px 22px;
}

.register-email {
    margin-bottom: 20px;
}

#ctrl-email {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    color: #C4C4C4;
    padding: 13px 128px 13px 22px;
}

.label-content {
    size: 16px;
    color: #797979;
}

.button-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.send-description input {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    background-color: #DD7E92;
    border: #DD7E92;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 26px;
}

.erase-description input {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    background-color: white;
    border: solid 2px #DD7E92;
    color: #DD7E92;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 26px;
}

footer {
    background-color: #383838;
    height: 302px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    height: 302px;
}

.social-footer {
    margin: 28px 0px 37px 0px;
}

.social-footer a {
    color: white;
    font-size: 14px;
}

.footer-content p {
    color: white;
    font-size: 14px;
}

.footer-description {
    margin-bottom: 30px;
}

.footer-description p {
    margin: 5px 0px;
}

.footer-description1 p {
    margin-bottom: 32px;
}

@media(min-width: 768px) {
    .nav-brand {
        font-size: 18px;
    }
    .menu-items {
        display: flex;
    }
    .nav-brand {
        font-size: 24px;
    }
    .container-news h2 {
        font-size: 36px;
        margin: 0px 0px 40px 0px;
    }
    .card-news-description h3 {
        font-size: 24px;
    }
    .card-news-description h4 {
        font-size: 16px;
    }
    .title-games {
        margin: 0px 0px 45px 0px;
        font-size: 36px;
    }
    #games {
        padding: 36px 0px 70px 0px;
    }
    .title-register {
        margin: 0px 0px 40px 0px;
        font-size: 36px;
    }
    #ctrl-name {
        width: 642px;
    }
    #ctrl-email {
        width: 642px;
    }
    .label-content {
        margin-right: 405px;
    }
    .form-container {
        padding: 0px 0px 42px 0;
    }
    .footer-content {
        flex-direction: row;
        height: 190px;
        align-items: center;
    }
    footer {
        height: 190px;
    }
    .social-footer {
        margin: 75px 0px;
    }
    .footer-description1 p {
        margin: 32px 0px;
    }
    .footer-description {
        margin: 75px 0px;
    }
}